In [1]:
import numpy as np

In [6]:
foo = np.full(shape=(3, 4), fill_value=3.)
foo

array([[3., 3., 3., 3.],
       [3., 3., 3., 3.],
       [3., 3., 3., 3.]])

In [7]:
foo[[0, 2], [2, 1]] = np.nan

In [8]:
foo

array([[ 3.,  3., nan,  3.],
       [ 3.,  3.,  3.,  3.],
       [ 3., nan,  3.,  3.]])

In [9]:
foo[foo == np.nan]

array([], dtype=float64)

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(foo)

array([[False, False,  True, False],
       [False, False, False, False],
       [False,  True, False, False]])

You can't insert np.nan into array of integers

In [12]:
boo = np.array([1, 2, 3])

In [13]:
boo[0] = np.nan

ValueError: cannot convert float NaN to integer